/*======================================== CSS FOR THE OUR IMPACT AREAS CARDS ===============================*/

.Home-page-content {
    padding: 20px;
}
.Impact-Cards-section {
    display: flex; /* Or grid, for layout */
    flex-wrap: wrap; /* Allow cards to wrap */
    gap: 20px; /* Space between cards */
    justify-content: center;
}
.Impact-Cards-section .Card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 270px; /* Or adjust as needed */
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color:#0e75e3;
    color: white;
    
}
.Our-impact .Card{
    border: 1px solid #ccc;
    padding: 15px;
    width: 280px; /* Or adjust as needed */
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color:#0e75e3;
    color: white;
}
.Impact-Cards-section .Card button {
    background-color: #08488c;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5%;
    font-weight: bold
}
.Impact-Cards-section .Card button:hover {
    color: #0e75e3;
    background-color:white;
    height: 40px;
    width: 100px;
}


.Card-icon img {
    width: 60px; /* Size for your icon */
    height: 60px;
}
.Our-impact h2{
    padding: 2%;
    text-align: center;
    text-decoration: underline 5px solid rgb(15, 87, 243);
     font-family: 'Georgia', serif; 
}
.Impact-Cards-section .Card p{
    padding-bottom: 10px;
}


/*======================================== CSS FOR OUR CAUSES CARDS ===============================*/
.Our-causes-card-section {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}
.Our-causes-card-section .Card {
    background-color: white;
    color: black;
    border: 1px solid #201bba;
    width: 280px; /* Or adjust as needed */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}
.Our-causes-card-section .Card:hover {
    background-color: rgb(245, 239, 239);
  
}
.Our-causes-card-section .Card-icon img {
    width: 100%; /* Size for your icon */
    height: 200px;

}
.Our-causes-card-section .Card button {
   background-color: #08488c;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5%;
    font-weight: bold;
    padding: 3%;
}

.Our-causes-card-section .Card p{
    padding-bottom: 10px;
}
.Our-causes h2{
    padding: 3%;
    text-align: center;
    text-decoration:underline 2px double #004080;
     font-family: 'Georgia', serif; 
}
